.home-container {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 90px);
  background-color: rgb(223, 223, 223);
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.json-input{
  height: calc(100vh - 100px) !important;
  overflow-y: auto;
}
